@charset "UTF-8";
/* Typical Device Breakpoints 
Small screens: até 600px.
Mobile: de 600px até 768px. 
Tablet: de 768px até 992px.
Desktop: de 992px até 1.200px.
Big screens: acima de 1.200px.
*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}  

@media screen and (min-width: 768px) and (max-width: 992px){
    body {
        background-image: url('/img/background_site_desktop.jpg');
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url('/img/background_site_desktop.jpg');
        background-position: center center;
        height: 100vh;
    }
}   
    
@media screen and (min-width: 1200px){
    body {
        background-image: url('/img/background_site_desktop.jpg');
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }
    
    
}

