@charset "UTF-8";
/* Typical Device Breakpoints 
Small screens: até 600px.
Mobile: de 600px até 768px. 
Tablet: de 768px até 992px.
Desktop: de 992px até 1.200px.
Big screens: acima de 1.200px.
*/
:root {
    --color-primary: #FECF3E;
    --color-secondary: #0E154A;
    --textcolor: #DCD9D9;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}  

@media screen and (min-width: 768px) and (max-width: 992px){
    body {
        background-image: url('/img/background_site_tablet.webp');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    } 
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url('/img/background_site_desktop.webp');
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }
}   
    
@media screen and (min-width: 1200px){
    body {
        background-image: url('/img/background_site_desktop.webp');
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .transforme {
    width: 65%;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transforme h1,p {
    color: var(--color-primary);
}

.transforme h1{
    font-size: 60px;
    margin-bottom: 30px; 
}

.btn-comprar {
    color: var(--color-primary);
    background-color: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 20px;
    padding: 15px;
}

.btn-comprar:hover {
    color: black;
    background-color: var(--color-primary);
}

.btn-comprar a:link{
    color: var(--color-primary);
    text-decoration: none;
}

.btn-comprar a:visited {
    color: var(--color-primary);
    text-decoration: none;
}

.btn-comprar a:hover {
    color: black;
    background-color: var(--color-primary);
}

.btn-assistir {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border-radius: 20px;
    padding: 15px;
    margin-left: 20px;
}

.btn-assistir i {
    margin-right: 5px;
}

.btn-assistir:hover {
    color: #557CAB;
    background-color: var(--color-primary);
}

.cover p {
    text-align: center;
    font-size: 22px;
}

.cover p span{
    display: block;
    text-decoration: line-through;
    margin-bottom: 0.5em;
}

