@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
} 

body {
    background-image: url('/img/background_mobile.webp');
    background-position: center center;
    background-size: cover;
    height: 100vh;
}